{% extends 'base.html' %} 
{% block content %}
<h2 class="text-center mx-auto p-2" style="width: 500px; margin-top: 40px;">
    About ConnectEd
</h2>
<div class="container d-flex justify-content-center mt-5">
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header"></div>
        <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">ConnectEd is an innovative platform designed to foster seamless communication, collaboration, and shared success among parents, teachers, and students. Through our app, parents can stay informed about their child's academic progress, receive timely updates, and communicate directly with teachers. Teachers can easily share important information, assignments, and announcements with both parents and students. Students can actively participate in discussions, access learning resources, and connect with their peers. With ConnectEd, the educational experience becomes interactive, engaging, and inclusive, ensuring that everyone involved is connected and empowered to achieve their fullest potential.</p>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center mt-5">
    <img src="https://gray-wwsb-prod.cdn.arcpublishing.com/resizer/BPyzlitsxLtBcFifnj8XcsNplHQ=/1200x675/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/NYS2DJEGBBG7DMMVFUK2QLDKFM.jpg" class="img-fluid" alt="Students in classroom">
</div>

{% endblock %}