{% extends 'base.html' %}
{% block content %}
<h2 class="mx-auto p-2" style="width: 400px;">{{messageboard.name}}</h2>
<h3 class="mx-auto p-2" style="width: 400px"> {{messageboard.school_class}}</h3>
<a type="button" href="{% url 'messageboards_update' messageboard.pk %}" class="btn btn-primary my-2 my-sm-0"> Edit Message Board </a>
<a type="button" href="{% url 'messageboards_delete' messageboard.pk %}" class="btn btn-danger my-2 my-sm-0">Delete</a>
<div class="accordion" id="accordionExample">
    {% for post in messageboard.post.all %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          {{post.title}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
          Posted by {{post.posting_user}}: {{post.content}}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<form action="{% url 'post_create' messageboard.pk %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Title of Post</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Title" name="title">
        <label for="exampleTextarea" class="form-label mt-4">Add a New Post</label>
        <textarea name="content" placeholder="Post Content" required class="form-control" id="exampleTextarea" rows="3"></textarea>
        <input class="btn btn-primary" type="submit" value="Add Post"/>
    </div>
</form>
{% endblock %}


