{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mx-auto p-2" style="width: 500px;">Delete Message Board</h2>

<div class="alert alert-dismissible alert-danger">
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">Are you sure you want to Delete "{{messageboard.subject}}" message board?</p>
    <form method="post">
        {% csrf_token %}
        <div class="btn">
        <!-- confirm artist delete -->
            <input class="btn btn-danger" type="submit" value="Delete" />
            <!-- Redirect back to detail on cancel -->
            <a class="btn btn-info" href="{% url 'messageboards_detail' messageboard.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}

