{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <h2 class="my-4">Message Boards</h2>
    <form class="d-flex justify-content-center mb-4" method="get">
        <input style="border-color: #343a40;" class="form-control me-sm-2 input" type="text" name="name" placeholder="Search by Name" />
        <div class="d-grid gap-2 d-sm-flex justify-content-center mt-sm-0">
            <input class="btn btn-secondary me-sm-2 mb-2 mb-sm-0" type="submit" value="Search" />
            <a class="btn btn-secondary" href="{% url 'messageboards' %}">Clear Search</a>
        </div>
    </form>
    <a class="btn btn-primary mb-3" href="{% url 'messageboards_create' %}">Add New Message Board</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">School:</th>
            <th scope="col">Name of Message Board</th>
            <th scope="col">Related Topics</th>
        </tr>
    </thead>
    <tbody>
        {% for messageboard in messageboards %}
        <tr class="table-active">
            <td>{{messageboard.school_class.school}}</td>
            <th scope="row">
                <a href="{% url 'messageboards_detail' messageboard.pk %}">{{messageboard.name}}</a>
            </th>
            <td>{{messageboard.topics}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
