{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mx-auto p-2" style="width: 500px;">
    Schools and Classes
</h2>
<form class="d-flex" method="get">
    <input class="form-control me-sm-2 input" style="border-color: #343a40;" type="text" name="school" placeholder="Search by School Name"/>
    <div class="p-2">
        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Search" />
    </div>
    <div class="p-2">
        <a class="btn btn-primary my-2 my-sm-0" href="{% url 'schoolclasses' %}">Clear</a>
    </div>
</form>
<div class="text-center p-3">
<a class="btn btn-primary" href="{% url 'schoolclasses_create' %}">Add New School</a>
</div>
<div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">School</th>
          <th scope="col">School Type</th>
        </tr>
      </thead>
      <tbody>
        {% for schoolclass in schoolclasses %}
        <tr>
          <td><a href="{% url 'schoolclasses_detail' schoolclass.pk %}">{{ schoolclass.school }}</a></td>
          <td>{{ schoolclass.school_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}